<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog for Askcompany</title>
</head>
<body>
    <h1>Askcompany</h1>
    <form action="" method="GET">
        <input type="text" name="q" value="{{q}}" />
        <input type="submit" value="search" />
    </form>

    <ul>
        {% for item in item_list %}
        <li>
            {{item.name}}
            {{item.price}}
            {{item.desc}}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
